<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css%22%3E">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <title>Forgot Password</title>
</head>
<body>

    <div class="container">
        <div class="forms">
            <div class="form login">
                <span class="title">Forgot Password</span>
                <form action="" method="POST">
                    {% csrf_token %}
                    {% if messages %}
                            <ul class="messages">
                            {% for message in messages %}
                                <br><div style="border: 2px solid red; border-radius: 8px; background-color: rgba(255, 99, 71, 0.5); text-align: center;">
                                    <p>{{ message }}</p>
                                </div>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    <div class="input-field">
                        <label for="email">Email Address</label><br>
                        <input type="email" id="email" name="email" placeholder="Enter your email" value="{{ request.POST.email }}" required>
                        <i class="uil uil-envelope icon"></i>
                    </div>
                    <div class="input-field button">
                        <input type="submit" value="Submit" name="login_now">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>